body {
	margin: 0;
	padding: 0;
}
#map {
	opacity: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.map-overlay {
	position: absolute;
	left: 0;
	padding: 10;
}

button {
	background-color: maroon;
	color: white;
	border-radius: 12px;
}
